body {
  font-size:11pt;
  text-align: center;
  background-image: url('images/cloth.jpg');
}
h3 {
  color: black;
  font-size: 14pt;
  margin:10 auto;
  padding: 10px;
}
.contents {
  width: 500px;
  height: 560px;
  background-color: beige;
}
/* banner */
.banner {
  position: relative;
  width: 500px;
  height: 600px;
  top: 10px;
  overflow: hidden;
}
.banner ul {
  position: absolute;
  padding:0;
  list-style: none;
}
.banner ul li {
  float: left;
  width: 500px;
  height: 600px;
  margin:0;
  padding:0;
}
.cloth{
  font-size: 55pt;
  color: white;
}
