.leftmenu {
  float: left;
  width: 5%;
  height: 150px;
  overflow: hidden;
  background-color: beige;
  line-height: 40px;
}
.leftmenu a {/*메뉴의 글자 (a)의 속성*/
  color: black;
  display: inline-block;/*블럭으로 나타나게 해줌*/
  padding: 10px;/*상하좌우 공간을 만듦*/
  text-decoration: none;/*a태그의 밑줄 제거*/
  font-weight: bold;
  font-size: 20px;
}
.leftmenu ul li{
  list-style: none;
  margin-left: -43px;
}
.leftmenu li:hover .sub{
visibility: visible;  /* 마우스 커서 올리면 서브메뉴 보이게 하기 */
opacity: 1;
line-height: 10px;
margin-left: 60px;
background-color: beige;
}
.sub{
visibility: hidden;  /* 평상시에는 서브메뉴가 안보이게 하기 */
height:auto;
position:absolute;
opacity: 0;
}

.center {
  float: right;
  height: 1200px;
  width: 94.8%;
  border: solid 1px;
  overflow: hidden;
}
\
