body{
  background-color: powderblue;
}
#total{
  height: 100%;
  width: 100%;
  background-color: lightgreen;
}
#menu{
  flex: 1;
  height: 300px;
  width: 19.8%;
  background-color: pink;
  float: left;
  border: solid 1px;
  text-align: center;
  line-height: 200%
}
#nav{
  flex: 1;
  height: 50%;
  border: solid;
  background-color: white;
  text-align: center;
}
#content{
  text-align: left;
  float: right;
  width:80%;
  height: 1920px;
  overflow: scroll;
}
